In [17]:
import pandas as pd
data=pd.read_csv("https://raw.githubusercontent.com/sunnysavita10/ML_Project_With_ContinuesTraining/main/notebooks/data/gemstone.csv")

Diamond Price Prediction

Introduction About the Data : The dataset The goal is to predict price of given diamond (Regression Analysis).

There are 10 independent variables (including id):

id : unique identifier of each diamond carat : Carat (ct.) refers to the unique unit of weight measurement used exclusively to weigh gemstones and diamonds. cut : Quality of Diamond Cut color : Color of Diamond clarity : Diamond clarity is a measure of the purity and rarity of the stone, graded by the visibility of these characteristics under 10-power magnification. depth : The depth of diamond is its height (in millimeters) measured from the culet (bottom tip) to the table (flat, top surface) table : A diamond's table is the facet which can be seen when the stone is viewed face up. x : Diamond X dimension y : Diamond Y dimension x : Diamond Z dimension Target variable: Pirce will be used to target variable

In [18]:
data.head(10)

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
5   5   1.51  Very Good     J     SI1   62.8   58.0  7.34  7.29  4.59   7506
6   6   0.74      Ideal     E     VS2   61.8   57.0  5.76  5.79  3.57   3229
7   7   1.34    Premium     G     SI2   62.5   57.0  7.00  7.05  4.38   6224
8   8   0.30      Ideal     F      IF   62.0   56.0  4.35  4.37  2.70    886
9   9   0.30       Good     J     VS1   63.6   57.0  4.26  4.28  2.72    421

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [20]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [21]:
data.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price'],
      dtype='object')

In [22]:
data=data.drop(labels=['id'],axis=1)

In [23]:
data.head(2)

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387

In [24]:
data.duplicated().sum()

0